@import "./helpers/helpers";
@import "./variables/variables";

html {
  font-size: #{$browser-context}px;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  color: $font-color;
  background-color: $bg-color;
  padding: 0;
  margin: 0;
  min-width: 320px;
}

html, body {
  height: 100%;
}

.flex-box-column-start {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.flex-box-column-center {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

