@import "src/styles/base-styles";

:host {
  display: block;
}

.panel-wrapper {
  margin-top: rem(20);
}

.search-wrapper {
  width: 85%;
}

.search-input {
  font-size: rem(16);
  width: 100%;
  padding: rem(10);
  height: rem(50);
  border: rem(1) solid #c2c2c2;
  border-radius: rem(4);

  &placeholder {
    font-size: rem(16);
    color: #626262;
  }
}

.main-wrapper {
  width: 100%;
  margin-top: rem(50);
  flex-grow: 1;
}

.title-wrapper {
  height: 100%;
  margin-left: rem(40);
}