@import "src/styles/base-styles";

:host {
  width: 100%;
}

.title-list {
  padding: rem(20);
  width: 100%;
}

.search-input {
  font-size: rem(16);
  width: 100%;

  &placeholder {
    font-size: rem(16);
    color: #626262;
  }
}

.title-wrapper {
  flex-grow: 1;
}