@import "../styles/base-styles";

:host {
  display: block;
  height: 100%;
  width: 100%;
}

.flex-box-row-center, .side-panel-wrapper, .details-wrapper {
  height: 100%;
}

.side-panel-wrapper {
  width: 25%;
  background-color: #98f1ff;
}

.details-wrapper {
  overflow: auto;
  width: 100%;
  flex-grow: 1;
}