@import "../styles/base-styles";

:host {
  display: block;
  height: 100%;
  width: 100%;
}

.flex-box-row-center, .side-panel-wrapper, .details-wrapper {
  height: 100%;
}

.details-wrapper {
  flex-grow: 1;
  overflow: auto;
}